body {
  margin: 0;
  padding: 0;
  font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: rgb(255, 255, 255);
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-footer: 65px;
}

.container {
  display: flex;
  width: 80%;
  margin: auto;
}

.header {
  height: var(--tamanho-header);
  background-color: #FFD900;
  border-bottom: 2px solid #ffffff;
  background-color: #FFD900 !important;
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
  color: black;
}

.header a {
  text-decoration: none;
  color: black;
  color: white;
  font-weight: 700;
}

.agora {
  font-weight: 800;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: #FFD900;
}

.titulo {
  color: white;
  width: fit-content;
  font-weight: 700;

}

.header h1 {
  margin: 0;
  font-weight: 700;
}

.banner {
  height: var(--tamanho-banner);
  background-image: url('../assets/imgs/queijoBackground.jpeg');
  background-size: cover;
}

.banner .container {
  justify-content: center;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.banner .container p {
  font-size: 36px;
  color: white;
  font-weight: 700;
  text-align: center;
  width: 60%
}

.banner .container span {
  font-weight: 800;
}

.social {
  background-color: #e5e5e5;
  display: flex;
}

.social .container {
  justify-content: center;
}

.box img {
  width: 170px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.box {
  width: 280px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box p {
  text-align: center;
}

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/download.jpeg');
  /* background-size: cover; */
}

.login .container {
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  width: 30%;
  background: linear-gradient(135deg, rgb(95, 95, 95), rgba(95, 95, 95, 0.4));
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: white;
  row-gap: 20px;
}

.card-cadastro {
  height: 80%;
}

.card-login {
  height: 60%;
}

.card h2 {
  margin: 0;
  font-size: 30px;
  color: #ffffff;
  margin-top: 8%;
}

.formulario {
  display: flex;
  height: 90%;
  width: 80%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 15px;
  font-weight: 800;
}

h2{
  font-weight: 700;
  color: black;
}

.formulario input {
  border: 2px solid #000000 ;
  height: 30px;
  text-align: center;
  border-radius: 10px;
}

.formulario select {
  border: 2px solid black;
  background-color: white;
  color: rgb(72, 72, 72);
  height: 36px;
  text-align: center;
  border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.botao {
  cursor: pointer;
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  border:1px solid rgba(0, 0, 0, 0.18);
  font-weight: 600;
  font-size: 18px;
  color: white;
  background-color: #000000;
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5));
  width: 120px;
  height: 30px;
  align-self: center;
}

.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #FFD900 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.footer {
  height: var(--tamanho-footer);
  width: 100%;
<<<<<<< HEAD
  background-color: black;
  color: #fff;
=======
  background-color: #000000;
  color: #FFD900;
>>>>>>> e006c5eb6bfc7c303822f4c8bb5b033e72aab34e
}

.footer h4 {
  margin: 0;
}

.footer .container {
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.footer .container .version {
  font-size: 12px;
  font-weight: 800;
}

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll; 
  height: var(--tamanho-simulador);
}